* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }
body
{
    background-image: url(resources/background_image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container
{
    width: 1150px;
    height: 100%;
    background-color: rgba(224, 224, 224, 0.856);
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
}

header *
{
    display: inline;
    width: 100%
}

header
{
    background-color: rgb(145, 145, 145);
    height:auto;
    border-bottom: 2px solid black;
}

#image1

{
    width: 8%;
    margin-right: 2em;
    padding: 0.5em;
}

header h1
{
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color:rgb(44, 44, 44)

}



#image2 {    width: 20%; }

#image3 { width: 7%;}

main
{
    font-family: Lato;
}

main h2
{
    text-indent:0;
}

#top
{
    margin: 2em 75px 2em 75px;
    padding: 10px;
    line-height: 1.3em;
    font-size: 1.2em;
    text-indent: 25px;
    background-color: rgb(218, 216, 216);
    border-radius: 7px;
    border: solid 2px black;
}

#top h2 {    margin-bottom: 10px;}


#mid
{
    background-color: gray;
    font-size: 1.4em;
    width: auto;
    height: auto;
    margin: 0px 100px 0px 100px;
    padding: 15px;
    border: solid 3px black;
    display: inline-block;
    border-radius: 10px;
}



#mid a:hover {  color:aqua;}

#bottom
{
    background-color: rgb(204, 194, 194);
    font-size: 1.4em;
    width: auto;
    height: auto;
    margin: 2em 75px 0px 75px;
    padding: 15px;
    border: solid 3px black;
    display:flex;
    display: inline-block;
    border-radius: 7px;
}

#bottom h1{text-align: center; margin-top: 10px;}


#content{margin-top: 50px;}


#astrofaza
{
    width: 50%;
    float: left;
    height: 8em;
    border: solid 3px black;
    background-color: #FFFA;
    transition: 0.5s ease-in-out;
    font-size: 0.8em;

}

#astrofaza img {width: 25%; float: left; padding-top: 1em;}

#astrofaza:hover
{
    transform:scale(1.2);
    background-color: rgb(209, 209, 209);
    transition: 0.5s ease-in-out;

}

#astrolife
{
    width: 50%;
    float: left;
    height: 8em;
    border: solid 3px black;
    background-color: #FFFA;
    transition: 0.5s ease-in-out;
    font-size: 0.8em;

}

#astrolife img {width: 25%; float: left; clear: left; padding-top: 1em;}

#astrolife:hover
{
    transform:scale(1.2);
    background-color: rgb(209, 209, 209);
    transition: 0.5s ease-in-out;
}

.content {float: left; width: 75%; padding: 7px;}
#astrofaza .content {padding-top: 1em;}


footer
{
    text-align: center;
    height: 2em;
    padding: 0.5em;
    margin-top: 1em;
    background-color: rgb(29, 28, 28);
    color:whitesmoke;
}

@media all and (max-width: 1150px)
{
    #image1{width: 10%}
    #container{max-width: 75%;}
    #bottom h1 {font-size: 1em}
    #astrofaza{font-size: 0.54em;}
    #astrolife{font-size: 0.54em;}

    #astrolife {overflow: auto;}
    #astrofaza {overflow: auto;}
}

@media all and (max-width:750px)
{
    #image1{width: 10%}
    header h1 {font-size: 2em;}
    #container{max-width: 75%;}
    #bottom h1 {font-size: 1em}
}